// 按鈕外框
.btnGrp {
  text-align: center;
  padding: 1.5em 0;
  &.center {
    button,
    .btn {
      min-width: 236px;
      @include screen('mobile') {
        min-width: 130px;
        max-width: 48%;
      }
    }
  }
}

// 按鈕的共用設定
@mixin btnSetting($btnBg: #f1f1f1, $btnWordColor: $btnWordColor) {
  background: $btnBg;
  border: 1px solid darken($btnBg, 5);
  color: $btnWordColor;
  border-radius: $btnRadius;
  box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Century Gothic';
  text-shadow: none;
  font-weight: 700;
  &:hover {
    background: darken($btnBg, 5); // Old browsers
    //border: 1px solid darken($btnBg, 15);
    cursor: pointer;
    outline: none;
  }
  &:focus-visible {
    background: darken($btnBg, 10); // Old browsers
    border: 1px solid darken($btnBg, 20);
    cursor: pointer;
    outline: none;
    box-shadow: 0 0px 0px 2px $aFocus;
  }
  &.active {
    background: lighten($btnBg, 5);
    cursor: pointer;
  }
}
// 按鈕預設陰影
%btn {
  font-size: $fontSize;
  touch-action: manipulation;
  background-image: none; //修正firefox
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  //white-space: nowrap;
  line-height: normal;
  width: auto;
  padding: $btnPadding;
  min-width: 4em;
  //height: 44px;
  margin: 0.3em;

  i {
    margin-right: 0.25em;
    margin-left: 0.25em;
  }
}
// 按鈕基本樣式
.btn {
  @extend %btn;
  // box-sizing: border-box;
  @include btnSetting;
  text-transform: uppercase;
  text-shadow: none;
  &:hover,
  &:focus-visible {
    outline: none;
  }
}
//按鈕顏色
//@include btnSetting(按鈕顏色,字的顏色);
// .btnGreen {
//   // @extend %btn;
//   @include btnSetting($colorGreen, #fff);
// }
// .btnBlue {
//   // @extend %btn;
//   @include btnSetting($colorBlue, #fff);
// }

.btnSubmit,
.btnPrimary {
  // @extend %btn;
  @include btnSetting($colorPrimary, #fff);
  position: relative;
  background: linear-gradient(280deg, $colorPrimary -4%, $colorBlue03 95%);
  border-color: $colorBlue03;
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(280deg, darken($colorPrimary, 10) -4%, darken($colorBlue03, 5) 95%);
    transition: opacity 0.3s ease;
    z-index: -1;
    opacity: 0;
  }
  &:hover,
  &:focus-visible {
    color: #fff;
    background: linear-gradient(280deg, $colorPrimary -4%, $colorBlue03 95%);
    &::before {
      opacity: 1;
    }
  }
}
.btnReset,
.btnCancel {
  // @extend %btn;
  color: #6d6d6d;
  font-weight: 500;
}

.btnSearch {
  // @extend %btn;
  @include btnSetting(lighten($colorPrimary, 5), #fff);
}

.btnSecondary {
  // @extend %btn;
  @include btnSetting($colorSecondary, #fff);
  position: relative;
  background: linear-gradient(280deg, #0a7c1d 0%, #5db741 100%);
  //border: none;
  overflow: hidden;
  transform: perspective(1px) translateZ(0);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(280deg, darken(#0a7c1d, 10) 0%, darken(#5db741, 5) 100%);
    transition: opacity 0.3s ease;
    z-index: -1;
    opacity: 0;
  }
  &:hover,
  &:focus-visible {
    color: #fff;
    background: linear-gradient(280deg, #0a7c1d 0%, #5db741 100%);
    border: none;
    &::before {
      opacity: 1;
    }
  }
}

// 一般按鈕
.btnNormal {
  @include btnSetting(#f1f1f1, $colorLink);
}

// 返回
.btnBack {
  background: #555;
  color: #fff;
  border: 1px solid #ddd;
  &:hover,
  &:focus-visible {
    background: darken($colorPrimary, 10);
    border: 1px solid #ddd;
  }
}

.disabled,
[disabled] {
  opacity: 0.5;
  cursor: not-allowed !important;
  text-shadow: none;
  background: #666;
  color: #fff;
  border: 1px solid #ddd;
  &:hover {
    background: #666;
    border: 1px solid #ddd;
  }
  &::before {
    content: none !important;
  }
}
.readonly,
[readonly] {
  opacity: 0.5;
  cursor: not-allowed;
  text-shadow: none;
}

// 按鈕大小
.btnXl {
  font-size: $fontSize * 1.5; //24px
}
.btnLg {
  font-size: $fontSize * 1.25; //20px
}
.btnSm {
  font-size: $fontSize * 0.938; //15px
}
.btnXs {
  font-size: $fontSize * 0.75; //12px
}
