// mobile btn for extend
// menu

@mixin mobileCtrlBtn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: calc(50% - 30px);
  display: none;
  font-size: 0em;
  padding: 15px;
  margin: 0;
  min-width: auto;
  min-height: auto;
  background: transparent;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  z-index: 100;

  @include screen('tablet') {
    display: block;
  }
}

.sidebarCtrlBtn {
  display: none;
  right: 0px;
  @include mobileCtrlBtn;

  &::before {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 3px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(255, 255, 255, 0.8) 0 8px 0 0, rgba(255, 255, 255, 0.8) 0 -8px 0 0;
    transition: 0.2s linear;
  }

  // &::after {
  //   position: absolute;
  //   content: '';
  //   width: 20px;
  //   height: 2px;
  //   background: $colorPrimary;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   opacity: 0;
  //   transition: 0.2s linear;
  // }

  // &:hover {
  //   &::before {
  //     transform: translate(-50%, -50%) rotate(45deg);
  //     box-shadow: none;
  //   }
  //   &::after {
  //     opacity: 1;
  //     transform: translate(-50%, -50%) rotate(-45deg);
  //   }
  // }
}

// search
// .searchCtrlBtn {
//   display: none;
//   right: 0px;
//   font-size: 0em;
//   z-index: 9;
//   @include mobileCtrlBtn;

//   &:before {
//     width: 40px;
//     height: 40px;
//     background: url(../images/basic/icon_search.svg) no-repeat center center;
//     background-size: 28px;
//     opacity: 0.6;
//     content: '';
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     display: block;
//   }
// }

//header
.header {
  position: fixed;
  width: 100%;
  height: 190px;
  top: 0;
  left: 0;
  z-index: 99;
  transition: 0.3s linear;
  transform-origin: top center;
  @include screen('tablet') {
    height: 120px;
  }
  @include screen('mobile') {
    width: 100%;
    height: 60px;
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(10deg, #91cdb9 -6%, #1863ac 65%);
    pointer-events: none;
    z-index: -1;

    @include screen('mobile') {
      height: 60px;
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    @include screen('tablet') {
      height: 120px;
    }
    h1 {
      transform: scale(0.8);
    }
  }

  & > .container {
    max-width: $containerMax;
    overflow: visible;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //flex-wrap: wrap;
    padding: 10px 15px;
    height: 100%;

    @include screen('mobile') {
      padding: 0;
    }
  }

  h1 {
    display: flex;
    align-items: center;
    width: 360px;
    height: 100px;
    margin: 0 30px 0 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s linear;
    transform-origin: left center;

    @include screen('tablet') {
      width: 300px;
      //height: 80px;
    }
    @include screen('mobile') {
      padding: 2px 0;
      width: 200px;
      max-width: 50%;
      height: 60px;
      margin: 0;

      img {
        width: auto;
        height: auto;
        max-height: 54px;
        margin: 0px auto;
        transform: scale(0.9);
      }
    }

    a {
      display: inline-block;
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .rightSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 auto;
  }

  // 導覽列
  .navigation {
    box-sizing: border-box;
    display: flex;
    position: relative;
    z-index: 55;
    align-items: center;

    @include screen('mobile') {
      display: none;
    }

    .navList {
      flex: 1 1 auto;
      margin: 0.25em 0.5em 0 0;

      ul {
        padding: 0;
        margin: 0;
        font-size: 0.875em;
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }

      li {
        flex: 0 0 auto;

        a {
          display: block;
          padding: 0.5em;
          text-decoration: none;
          @include aSetting($colorWord);
        }
      }
    }

    //右邊區塊
    .submenuBox {
      display: flex;
      align-items: center;
      padding: 15px;
      background: linear-gradient(135deg, #005d9d 0%, #98d1a7 100%);
      position: relative;

      & > div {
        + div::after {
          content: '';
          width: 1px;
          height: 17px;
          background: #fff;
          display: block;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
