.tabSet {
  margin: 10px auto;
  // .tabItems {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   margin: 0 auto;
  //   button {
  //     flex: 1 1 auto;
  //     font-size: 1em;
  //     height: 2.8em;
  //     text-align: center;
  //     border: none;
  //     margin: 1px;
  //     border-radius: 0;
  //     box-shadow: none;
  //     background: #ddd;
  //     cursor: pointer;
  //     &:hover {
  //       background: #cdd;
  //     }
  //     &:focus-visible {
  //       outline: none;
  //       box-shadow: 0 0px 0px 2px $aFocus inset;
  //       @include screen('mobile') {
  //         box-shadow: none;
  //       }
  //     }
  //     &.active {
  //       cursor: default;
  //       background: $colorPrimary;
  //       color: #fff;
  //     }
  //   }
  // }

  // .tabContent {
  //   display: none;
  //   position: relative;
  //   padding: 15px;
  //   box-shadow: #bbb 0 0 0 1px inset;
  //   &.active {
  //     display: block;
  //   }
  //   a:focus {
  //     outline: none;
  //     box-shadow: 0 0px 0px 2px $aFocus inset;
  //     @include screen('mobile') {
  //       box-shadow: none;
  //     }
  //   }
  // }

  // &.onMobile {
  //   .tabContent {
  //     display: block;
  //     box-shadow: none;
  //     padding: 0;
  //     .tabBtn {
  //       width: 100%;
  //       margin: 0 0 5px 0;
  //       &.active {
  //         background: $colorPrimary;
  //         color: #fff;
  //         border-color: $colorPrimary;
  //       }
  //     }
  //     a:focus {
  //       outline: none;
  //       box-shadow: 0 0px 0px 2px #1aadfa inset;
  //     }
  //   }
  //   .content {
  //     display: none;
  //     &.active {
  //       display: block;
  //     }
  //   }
  // }

  .tabItems {
    display: flex;
  }

  .modeBBtn,
  .tabBtn {
    flex: 1 1 33.33333%;
    font-size: 1em;
    height: 2.75em;
    text-align: center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #e5e5e5;
    color: #666;
    cursor: pointer;

    &:focus-visible {
      outline: none;
      box-shadow: 0 0px 0px 2px $aFocus inset;
    }

    &.active {
      cursor: default;
      background: $aColor;
      color: #fff;
    }
  }

  .tabContent {
    display: none;
    position: relative;
    padding: 0;
    @include screen('mobile') {
      padding: 2px 0;
    }

    &.active {
      display: block;
    }

    a:focus {
      outline: none;
      box-shadow: 0 0px 0px 2px $aFocus inset;

      @include screen('mobile') {
        box-shadow: none;
      }
    }

    .content {
      padding: 40px 20px;
      font-family: 'century gothic';
      background-color: #f2f2f2;

      @include screen('mobile') {
        padding: 20px;
      }
      ul {
        margin: 0;
      }
    }
    .formTitle {
      color: $colorPrimary;
    }
    input {
      background-color: #f2f2f2;
    }
  }

  .modeBBtn {
    width: 100%;
    margin: 0;
    display: none;
  }

  &.modeB {
    .tabItems {
      display: none;
    }

    .tabContent {
      display: block;

      .content {
        display: none;

        a:focus-visible {
          outline: $aFocus 2px solid;
        }
      }
    }

    .modeBBtn {
      display: block;
    }
  }
}

.accommodation {
  .tabContent {
    .content {
      display: flex;
      justify-content: center;
    }
    .formGrp {
      justify-content: center;
    }
  }
}

.travelerInfo {
  position: relative;
  display: flex;

  @include screen('tablet') {
    flex-wrap: wrap;
  }
  & > .tabItems2 {
    flex: 0 0 300px;
    flex-direction: column;
    position: relative;
    @include screen('tablet') {
      overflow: hidden;
      position: absolute;
      z-index: 50;
      flex-basis: 100%;
      width: 100%;
      margin-bottom: 1em;
      //transition: 0.2s $cubic;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
      &:has(> .toggleBtn.open) {
        filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.3));
      }
      &.fixed {
        position: fixed;
        left: 15px;
        top: 130px;
        flex-basis: calc(100% - 30px);
        width: calc(100% - 30px);
        filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.3));
      }
    }
    @include screen('mobile') {
      &.fixed {
        top: 70px;
      }
    }
    .toggleBtn {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      display: none;
      width: 70px;
      border-radius: 0 9px 9px 0;
      background: #fff url(../images/icon/icon_arrow_down_dark.svg) center no-repeat;
      background-size: 20px;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.2s ease-in;
      @include screen('tablet') {
        display: block;
      }
      &.open {
        border-radius: 0 9px 0 0;
        & ~ .tabBtn {
          display: block;
        }
      }
    }
    .tabBtn2 {
      width: 100%;
      position: relative;
      z-index: 1;
      padding-left: 70px;
      margin: 0 0 0.5em;
      min-height: 98px;
      height: auto;
      text-align: left;
      pointer-events: fill;
      border-radius: 9px 0px 0px 9px;
      background-color: #e9e9e9;
      box-shadow: -78px 0px 70px -70px rgba(0, 0, 0, 0.15) inset;
      transition: 0.2s ease-in;
      border-width: 2px 0 2px 2px;
      border-style: solid;
      border-color: #e8e8e8;

      @include screen('tablet') {
        border-radius: 0px;
        margin-bottom: 0;
        box-shadow: none;
        background-color: #ddd;
        border-bottom: 1px solid #eee;
        min-height: auto;
        padding-right: 80px;
        display: none;
        &:has(~ .toggleBtn.open) {
          border-radius: 0px;
        }
        &:first-of-type {
          border-radius: 9px;
          &:has(~ .toggleBtn.open) {
            border-radius: 9px 9px 0px 0px;
          }
        }
        &:last-of-type {
          border-radius: 0px 0px 9px 9px;
          &:has(~ .toggleBtn.open) {
            border-radius: 0px 0px 9px 9px;
          }
        }
      }
      &:hover {
        background-color: #eee;
        border-color: #eee;
        &::before {
          opacity: 0.85;
        }
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 70px;
        height: 100%;
        background: url(../images/icon/icon_user.svg) top 0.8em center no-repeat;
        background-size: 28px;
        opacity: 0.75;
      }
      &.active {
        border-color: mix($colorPrimary, #fff, 90%);
        //background: linear-gradient(130deg, #e3f7f5 -2.5%, #fff 80%);
        background-color: mix($colorPrimary, #fff, 90%);
        box-shadow: -15px 20px 30px -15px rgba(0, 0, 0, 0.1), -15px -20px 30px -15px rgba(0, 0, 0, 0.1);
        cursor: default;
        &::after {
          opacity: 1;
          background: url(../images/icon/icon_user2.svg) top 0.8em center no-repeat;
          background-size: 28px;
        }
        @include screen('tablet') {
          border-radius: 9px;
          background: linear-gradient(160deg, #e3f7f5 6%, #fff 100%);
          box-shadow: none;
          display: block;
        }
      }
      span {
        display: block;
      }
      .order {
        font-size: rem(20);
        color: $colorWord;
        font-weight: 700;
        @include screen('tablet') {
          font-size: rem(16);
        }
      }
      .name {
        color: $colorSecondary;
        font-size: rem(24);
        @include screen('tablet') {
          font-size: rem(20);
        }
      }
      > * {
        pointer-events: none;
        cursor: pointer;
      }
      &.active {
        .order {
          color: #fff;
        }
        .name {
          //font-weight: 600;
          color: #fff;
        }
      }
    }
  }
  .tabContentGroup2 {
    flex: 1 1 auto;
  }
  .tabContent2 {
    display: none;
    border-radius: 0px 9px 9px 9px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 40px 50px;
    @include screen('tablet') {
      border-radius: 9px;
      padding: 15px 20px;
    }
    &.active {
      display: block;
    }
    h2.title {
      text-align: left;
      margin: 0;
    }
  }
}
